/* ESTILO GERAL */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}


/* ESTILO DO CABECALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #a7a7a7;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #000000;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    padding: 0 40px;
}


/* ESTILO PRIMARIAS */
section .primarias{
    padding: 80px 4%;
}

section .primarias .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.primarias .txt-primarias h1{
    color: #000000;
    font-size: 40px;
}

.primarias .txt-primarias p{
    color: #000000;
    margin: 40px 0;
    font-size: 22px;
}

.vermelho:hover{
    color:#ff0000;
}

.azul:hover{
    color:#0000ff;
}

.amarelo:hover{
    color:#ffff00;
}

.vermelho, .amarelo, .azul{
    transition: .2s;
}



/* ESTILO SECUNDARIAS */
section .secundarias{
    padding: 80px 4%;
}

section .secundarias .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.secundarias .txt-secundarias h1{
    color: #000000;
    font-size: 40px;
}

.secundarias .txt-secundarias p{
    color: #000000;
    margin: 40px 0;
    font-size: 22px;
}

ul li{
    font-size: 22px;
}

.laranja:hover{
    color:#ff7700;
}

.verde:hover{
    color:#00ff00;
}

.roxo:hover{
    color:#9e00ba;
}

.laranja, .verde, .roxo{
    transition: .2s;
}



/* ESTILO TERCIARIAS */
section .terciarias{
    padding: 80px 4%;
}

section .terciarias .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.terciarias .txt-terciarias h1{
    color: #000000;
    font-size: 40px;
}

.terciarias .txt-terciarias p{
    color: #000000;
    margin: 40px 0;
    font-size: 22px;
}

.ver-arr:hover{
    color:#9f0c56 ;
}

.azu-esv:hover{
    color:#009297 ;
}

.azu-arr:hover{
    color:#6726bc ;
}

.ver-ala:hover{
    color:#ff4400;
}

.ama-ala:hover{
    color: #ffc400;
}

.ama-esv:hover{
    color: #95ff00;
}

.ver-arr, .azu-esv, .azu-arr, 
.ver-ala, .ama-ala, .ama-esv{
    transition: .2s;
}

